In [65]:
import pandas as pd
import numpy as np

df = pd.read_csv('test_data_4_students.csv')
df.head(10)

,﻿id,id_str,screen_name,location,description,url,followers_count,friends_count,listed_count,created_at,favorites_count,verified,statuses_count,lang,status,default_profile,default_profile_image,has_extended_profile,name,bot
0,2.281293e+09,2281292622,__keating,brooklyn,lgbt editor at @buzzfeed. shannon.keating@buzz...,https://t.co/QneJmYRyhj,4466,1295,111,Tue Jan 07 23:26:52 +0000 2014,1579,TRUE,3036.0,en,{'created_at': 'Tue Apr 11 15:31:51 +0000 2017...,FALSE,FALSE,FALSE,shannon keating,NaN
1,2.344040e+09,2344040251,_callme_Dani,"Los Angeles, CA",News Curation Editor @BuzzFeedNews \rI do a lo...,NaN,295,1016,10,Fri Feb 14 19:45:56 +0000 2014,300,FALSE,618.0,en,{'created_at': 'Tue Apr 11 00:56:02 +0000 2017...,FALSE,FALSE,FALSE,Danielle Hopkins,NaN
2,7.658713e+08,765871267,_little_britt_,NaN,Family comes first! Also I am in love with piz...,https://t.co/E7DE1cJB7e,1001678,3017,14,8/18/2012 15:13,13040,TRUE,3329.0,en,"{'place': None, 'retweeted': False, 'favorited...",TRUE,FALSE,TRUE,Brittney Smith,NaN
3,4.772373e+09,4772373433,134k5,NaN,@BuzzFeedJapan ‰  @cnet_japan / DMŽÐÜ‹ã‹_‹...,https://t.co/Cbguzs2PjT,445,487,17,Sun Jan 17 07:11:45 +0000 2016,1112,FALSE,46.0,ja,{'created_at': 'Sat Apr 08 08:41:08 +0000 2017...,FALSE,FALSE,TRUE,Keigo Isashi,NaN
4,1.324549e+09,None,2181chrom_bot,è‡ªåˆ†ã®å¤©å¹•,ã“ã‚Œã¯FEè¦šé†’ã®ã‚¯ãƒ­ãƒ â€¦ã¤ã¾ã‚Šä¿ºã...,http://t.co/10Swf6luED,187,68,13,Wed Apr 03 13:00:42 +0000 2013,None,None,690359.0,ja,"{u'lang': u'ja', u'text': u'@2181lucina_bot \u...",None,None,None,ãƒ„ã‚¤å»ƒã‚¯ãƒ­ãƒ bot,NaN
5,2.561342e+09,None,2LA1R_bot,None,ãµã‚Œã‚èªžã‚’ã¤ã¶ã‚„ãbotã§ã™ ãŸã¾ã«...,None,80,87,None,Wed Jun 11 13:12:06 +0000 2014,None,None,20167.0,ja,"{u'lang': u'ja', u'text': u'\u3010\u3075\u308c...",TRUE,None,None,ãµã‚Œã‚èªžbot ver0.2,NaN
6,3.478101e+08,None,3pei_bot,ä¸‰æ²³å±‹,â– ã¡ã‚ãƒ¼ã™ï¼ä¸‰æ²³å±‹ã§ãƒ¼ã™ï¼ä¸‰éƒŽã...,http://twpf.jp/3pei_bot,2020,1978,56,Wed Aug 03 11:52:59 +0000 2011,None,None,968182.0,ja,"{u'lang': u'ja', u'text': u'@kazenoraby \uff66...",TRUE,None,None,ä¸‰æ²³å±‹ä¸‰å¹³,NaN
7,8.563039e+08,None,94kichi_bot,None,94 ãƒãƒ£ãƒƒã‚¯ãƒ»ã‚¦ã‚£ãƒ«ã‚½ãƒ³ã¨æ„‰å¿«ãªä...,None,70,80,2,Mon Oct 01 12:39:46 +0000 2012,None,None,76735.0,ja,"{u'lang': u'ja', u'text': u'\u307f\u3093\u306a...",TRUE,None,None,94å¹´çµ„bot,NaN
8,8.328750e+17,None,A3_Dekasegi_bot,ãƒ“ãƒ­ãƒ¼ãƒ‰é§…å‰,ã‚·ãƒˆãƒ­ãƒ³ã€ŒA3!å‡ºç¨¼ãŽæ—¥èªŒãƒ€ãƒ¨ãƒ¼ï¼ã...,https://t.co/t171JmIrjL,181,144,2,Sat Feb 18 08:50:03 +0000 2017,None,None,1960.0,ja,"{u'lang': u'ja', u'text': u'\u30b7\u30c8\u30ed...",TRUE,None,None,A3! å‡ºç¨¼ãŽæ—¥èªŒ,NaN
9,8.885679e+07,None,aamir_khan,Mumbai,Actor.,https://t.co/l1dUhQjS8Y,20419393,9,6,Tue Nov 10 05:08:56 +0000 2009,None,TRUE,468.0,en,"{u'lang': u'en', u'text': u'Hey guys, doing so...",None,None,None,Aamir Khan,NaN

In [71]:
df.iloc[0,0]

2281292622.0

In [54]:
df2 = pd.read_csv('result_svm.csv',names=['bot'])

In [55]:
df2.head(4)

   bot
0    0
1    1
2    0
3    0

In [56]:
df1 = df.iloc[:,0].dropna().to_frame()

In [57]:
df1['bot'] = df2["bot"]
type(df1.iloc[1,1])

numpy.float64

In [72]:
df3 = df1.to_csv('test_0505.csv', index = False,float_format=False,encoding='ascii')

In [73]:
df4 = pd.read_csv('test_0505.csv')
type(df4.iloc[1,0])

numpy.float64

In [64]:
df4.iloc[1,0]

2344040251.0

### ConutVector

In [2]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()
des1 = count_vect.fit_transform(df.description.values.astype('U'))
lang1 = count_vect.fit_transform(df.lang.values.astype('U'))

### TrueFalse Vector

In [3]:
df.loc[:,'flag1'] = 1
for i in df.index:    
    if df.loc[i,'default_profile'] :
        df.loc[i,'flag1'] = 1
    else:
        df.loc[i,'flag1'] = 0

In [4]:
df.loc[:,'flag2'] = 1
for i in df.index:    
    if df.loc[i,'has_extended_profile'] :
        df.loc[i,'flag2'] = 1
    else:
        df.loc[i,'flag2'] = 0

In [5]:
df.loc[:,'flag3'] = 1
for i in df.index:    
    if df.loc[i,'default_profile_image'] :
        df.loc[i,'flag3'] = 1
    else:
        df.loc[i,'flag3'] = 0

In [6]:
df.loc[:,'flag4'] = 1
for i in df.index:    
    if df.loc[i,'verified'] :
        df.loc[i,'flag4'] = 1
    else:
        df.loc[i,'flag4'] = 0

### Binary Vector

In [7]:
df.loc[:,'flag5']=1
for i in df.index: 

    if type(df.loc[i,'location'])==type('str'):
        df.loc[i,'flag5']=1
        #print(df.location[i])
    else:
        df.loc[i,'flag5']=0

In [8]:
df.loc[:,'flag6']=1
for i in df.index: 

    if 't.co' in str(df.loc[i,'url']):
        df.loc[i,'flag6']=1
        #print(df.location[i])
    else:
        df.loc[i,'flag6']=0

### Special condition

In [9]:
# screen_name length
sname = np.array(df.screen_name)
g = lambda i: len(i)
gg = np.vectorize(g)
sname_length = gg(sname)
df.loc[:,'flag7'] = sname_length
df.loc[:,'flag7']

0        9
1       11
2        8
3       11
4       13
5       15
6       12
7       10
8       13
9       10
10      13
11      12
12       7
13      13
14       9
15      14
16       7
17      13
18      11
19      12
20       8
21      12
22      12
23      15
24       8
25      10
26       6
27       7
28       8
29      11
        ..
2637     8
2638    11
2639    12
2640    13
2641    12
2642    15
2643    12
2644    14
2645    11
2646     6
2647    15
2648    14
2649    15
2650    13
2651    15
2652    14
2653     8
2654    15
2655    10
2656    14
2657    12
2658    10
2659    15
2660    14
2661     9
2662    14
2663    12
2664    11
2665    13
2666     9
Name: flag7, dtype: int64

In [10]:
#status
df.loc[:,'flag8'] = 1
for i in df.index:    
    if type(df.loc[i,'status']) == type('str') :
        df.loc[i,'flag8'] = 1
    else:
        df.loc[i,'flag8'] = 0

### Number Vector

In [11]:
column_index = df.shape[1]
column_name = 'flag' + str(column_index)
df.loc[:,column_name]=10
df = df.sort_values('listedcount',na_position='first')
df.head(10)

i = len(df[column_name])
interval = i//10

for j in range(10):
    df.iloc[j*interval:(j+1)*interval,[column_index,]] = j
df.iloc[10*interval:i,[column_index,]] = 9
df[['index','listedcount',column_name]]

      index  listedcount  flag36
0      1427            0       0
1392   1749            0       0
1394   2117            0       0
1396   2458            0       0
1397   2190            0       0
1398   2042            0       0
1400   2680            0       0
1401   2270            0       0
1404   2278            0       0
1406   2501            0       0
1410   2214            0       0
1411   2232            0       0
1391   2049            0       0
1414   1617            0       0
1422    602            0       0
1447    102            0       0
1478    903            0       0
1479    153            0       0
1485    503            0       0
1512     51            0       0
1541   1211            0       0
1622    999            0       0
1683    149            0       0
1723   1182            0       0
1728    738            0       0
1418   1620            0       0
1746     67            0       0
1387   2669            0       0
1383   2208            0       0
1326   2185            0       0
...     ...          ...     ...
1100   2706        55171       9
1348   1643        57667       9
757    2642        58298       9
349    2201        58635       9
1259   1735        60724       9
590    1562        65347       9
1234   2795        68275       9
1238   1461        69204       9
905    2281        69915       9
346    2411        70276       9
566    1415        75051       9
648    2211        75971       9
597    2404        80560       9
495    1687        86845       9
898    1342        88119       9
575    1598        88635       9
752    1351        90103       9
1010   2555       100803       9
1322   2742       106410       9
786    2203       109019       9
920    1892       122564       9
1272   1995       123430       9
407    1825       127580       9
1241   1591       129935       9
881    2119       133430       9
941    2055       142309       9
983    1520       188694       9
1304   2026       222819       9
1320   2738       228029       9
1093   2767       619504       9

[2667 rows x 3 columns]

In [12]:
column_index = df.shape[1]
column_name = 'flag' + str(column_index)
df.loc[:,column_name]=10
df = df.sort_values('followers_count',na_position='first')
df.head(10)

i = len(df[column_name])
interval = i//10

for j in range(10):
    df.iloc[j*interval:(j+1)*interval,[column_index,]] = j
df.iloc[10*interval:i,[column_index,]] = 9

In [13]:
column_index = df.shape[1]
column_name = 'flag' + str(column_index)
df.loc[:,column_name]=10
df = df.sort_values('friends_count',na_position='first')
df.head(10)

i = len(df[column_name])
interval = i//10

for j in range(10):
    df.iloc[j*interval:(j+1)*interval,[column_index,]] = j
df.iloc[10*interval:i,[column_index,]] = 9

In [14]:
column_index = df.shape[1]
column_name = 'flag' + str(column_index)
df.loc[:,column_name]=10
df = df.sort_values('favourites_count',na_position='first')
df.head(10)

i = len(df[column_name])
interval = i//10

for j in range(10):
    df.iloc[j*interval:(j+1)*interval,[column_index,]] = j
df.iloc[10*interval:i,[column_index,]] = 9

In [15]:
column_index = df.shape[1]
column_name = 'flag' + str(column_index)
df.loc[:,column_name]=10
df = df.sort_values('statuses_count',na_position='first')
df.head(10)

i = len(df[column_name])
interval = i//10

for j in range(10):
    df.iloc[j*interval:(j+1)*interval,[column_index,]] = j
df.iloc[10*interval:i,[column_index,]] = 9

In [16]:
df.head(10)

,index,id,id_str,screen_name,location,description,url,followers_count,friends_count,listedcount,...,flag4,flag5,flag6,flag7,flag8,flag36,flag37,flag38,flag39,flag40
2584,1303,8.340000e+17,8.340000e+17,heyheyhayleighh,NaN,FOLLOW @devonxxbt AND RETWEET/LIKE HER PINNED,NaN,27,517,0,...,0,0,0,15,1,1,1,6,2,0
1372,1585,8.410000e+17,8.410000e+17,Lilly17254,NaN,NaN,NaN,0,22,0,...,0,0,0,10,1,0,0,2,2,0
2590,690,8.629725e+07,8.629725e+07,raviraju88,"Seattle, WA",NaN,NaN,38,112,0,...,0,1,0,10,1,1,2,4,2,0
1375,2510,7.060000e+17,7.060000e+17,avinash_vaka,NaN,NaN,NaN,10,71,0,...,0,0,0,12,1,0,1,3,2,0
1370,1334,5.958222e+08,5.958222e+08,larryellison,NaN,NaN,http://t.co/j6iuRaAIX0,95153,55,1143,...,1,0,1,12,1,8,8,3,2,0
2608,107,5.818171e+08,5.818171e+08,Anuroopjr,Chickballapur,Meow! Let's have some fun? I'm here (my login ...,NaN,36,1525,0,...,0,1,0,9,1,1,2,8,2,0
2586,1216,8.410000e+17,8.410000e+17,Tatiannajakayl1,NaN,NaN,NaN,2,343,1,...,0,0,0,15,1,2,0,5,0,0
1379,2366,8.270000e+17,8.270000e+17,PMbschandra,"Patel Nagar, New Delhi",NaN,NaN,6,91,0,...,0,1,0,11,1,0,0,4,2,0
2599,656,2.352007e+09,2.352007e+09,saikoa0709,NaN,NaN,NaN,2,15,0,...,0,0,0,10,1,1,0,2,2,0
2598,1010,1.749567e+08,1.749567e+08,mhzhai,NaN,NaN,NaN,1,3,0,...,0,0,0,6,1,1,0,2,0,0

### Combination

In [17]:
import scipy.sparse as sp
h = sp.hstack((des1,lang1))
print(h.shape)
print(des1.shape)

(2667, 9022)
(2667, 9002)

In [18]:
df = df.sort_values('index',na_position='first')
flag = np.matrix(df.loc[:,'flag1':column_name])
flag.shape

(2667, 13)

In [19]:
g = sp.hstack((h, flag))
print (g.shape)

(2667, 9035)

### Classification

In [21]:
from sklearn.model_selection import cross_val_predict
from sklearn.naive_bayes import MultinomialNB,BernoulliNB
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import cross_val_score
import numpy as np
train_list = g
target_list = df.is_bot
accuracy = cross_val_score(MultinomialNB(alpha=0.1,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='accuracy')
precision = cross_val_score(MultinomialNB(alpha=0.1,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='precision')
recall = cross_val_score(MultinomialNB(alpha=0.1,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='recall')
f1 = cross_val_score(MultinomialNB(alpha=0.1,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='f1')
roc_auc = cross_val_score(MultinomialNB(alpha=0.1,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='roc_auc')
print ("cmean accuracy = %6.4f"%np.mean(accuracy))
print ("mean precision = %6.4f"%np.mean(precision))
print ("mean recall = %6.4f"%np.mean(recall))
print ("mean f1 score = %6.4f"%np.mean(f1))
print ("mean AUC = %6.4f"%np.mean(roc_auc))

cmean accuracy = 0.8447
mean precision = 0.8340
mean recall = 0.8574
mean f1 score = 0.8407
mean AUC = 0.9061

In [22]:
from sklearn.model_selection import cross_val_predict
from sklearn.naive_bayes import MultinomialNB,BernoulliNB
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import SGDClassifier
import numpy as np
train_list = g
target_list = df.bot
accuracy = cross_val_score(SGDClassifier(alpha=0.1), train_list, target_list, cv=10, scoring='accuracy')
print ("cmean accuracy = %6.4f"%np.mean(accuracy))

AttributeError: 'DataFrame' object has no attribute 'bot'

In [24]:
from sklearn.model_selection import cross_val_score
from sklearn.datasets import make_blobs
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier

X = g
y = df.is_bot
# X, y = make_blobs(n_samples=10000, n_features=10, centers=100,
#     random_state=0)
clf = DecisionTreeClassifier(max_depth=None, min_samples_split=2,
    random_state=0)
scores = cross_val_score(clf, X, y)
print(scores.mean())


clf = RandomForestClassifier(n_estimators=100, max_depth=None,
     random_state=0)
scores = cross_val_score(clf, X, y)
print(scores.mean())


clf = ExtraTreesClassifier(n_estimators=100, max_depth=None,
     random_state=0)
scores = cross_val_score(clf, X, y)
print(scores)
scores.mean() > 0.999

0.871391076115
0.887514060742
[ 0.87851519  0.8976378   0.86389201]

False

### BackUp

In [31]:
from sklearn.naive_bayes import MultinomialNB
MultinomialMB_clf = MultinomialNB().fit(des1, df.bot)

In [32]:
x1 = df.followers_count.tolist()
x2 = [x1]
x2 = np.matrix(x2).transpose()
print(x2)
xx = X_train_counts
print (type(x1))
print (type(x2))
print (type(xx))
#np.concatenate((xx,x1),axis = 1)
import scipy.sparse as sp
h = sp.hstack((xx, x2))
h.shape
print(type(df.followers_count.values))
print(type(df.followers_count.values))

[[85681083]
 [34363304]
 [96321564]
 ...,
 [       4]
 [      23]
 [     101]]

NameError: name 'X_train_counts' is not defined

In [74]:
np.random.randint(2, size=(6, 100))

array([[0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
        0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
        0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1,
        0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
        0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0],
       [1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
        1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
        1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1,
        1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0,
        1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0],
       [1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
        1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
        1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
        1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0],
       [1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1,
        1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0,
        1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
        1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
        0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1],
       [1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0,
        1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1,
        1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
        1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0],
       [0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1,
        1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1,
        1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0,
        1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
        0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1]])

In [75]:
s= '"abc"'

In [77]:
s.strip('"')

'abc'