In [1]:
import pandas as pd
import numpy as np
# df = pd.read_csv('training_set_1_filter.csv',encoding = "ISO-8859-1")
df = pd.read_csv('training_data_2_csv_UTF.csv',encoding = "UTF").dropna(how='all')

In [2]:
df.loc[:,'flag1'] = 1
for i in df.index:    
    if df.loc[i,'default_profile'] :
        df.loc[i,'flag1'] = 1
    else:
        df.loc[i,'flag1'] = 0

In [3]:
df.loc[:,'flag2'] = 1
for i in df.index:
    if type(df.loc[i,'has_extended_profile'])==bool:
        if df.loc[i,'has_extended_profile'] :
            df.loc[i,'flag2'] = 1
        else:
            df.loc[i,'flag2'] = 0
    else:
            df.loc[i,'flag2'] = 2

In [4]:
df.loc[:,'flag3'] = 1
for i in df.index:    
    if df.loc[i,'default_profile_image'] :
        df.loc[i,'flag3'] = 1
    else:
        df.loc[i,'flag3'] = 0

In [5]:
df.loc[:,'flag4'] = 1
for i in df.index:    
    if df.loc[i,'verified'] :
        df.loc[i,'flag4'] = 1
    else:
        df.loc[i,'flag4'] = 0

In [6]:
# Whether 'bot' is in location
df.loc[:,'flag6']=1
for i in df.index: 
    if "bot" in str(df.loc[i,'location']):
        df.loc[i,'flag6'] = 1
    else:
        df.loc[i,'flag6']=0

In [7]:
#status
df.loc[:,'flag8'] = 1
for i in df.index:    
    if type(df.loc[i,'status']) == type('str') :
        if df.loc[i,'status']== 'null' or df.loc[i,'status']== 'None':
            df.loc[i,'flag8'] = 0
        elif df.loc[i,'status']=='{':
            df.loc[i,'flag8'] = 0
        else:
            df.loc[i,'flag8'] = 1
    else:
        df.loc[i,'flag8'] = 0

In [8]:
# id
df['flag9'] = df[df.columns[0]].astype(np.int64)

In [9]:
# description
df.loc[:,'flag10'] = 1
for i in df.index:    
    if type(df.loc[i,'description']) == type('str') :
        if df.loc[i,'description']== 'null' or df.loc[i,'description']== 'None':
#             print(df.loc[i,'description'])
            df.loc[i,'flag10'] = 1
        elif "bot" in str(df.loc[i,'description']):
#             print (df.loc[i,'description'])
            df.loc[i,'flag10'] = 1
        else:
            df.loc[i,'flag10'] = 0
    else:
        df.loc[i,'flag10'] = 0

In [10]:
#bot in screen_name
df.loc[:,'flag11']=1
for i in df.index: 
    if (str(i[-3:])=='bot') or (str(i[-3:])=='Bot') or (str(i[0:3]))=='bot'or (str(i[0:3]))=='Bot':
        df.loc[i,'flag11'] = 1
    else:
        df.loc[i,'flag11'] = 0

In [11]:
#status or not
df.loc[:,'flag12'] = 1
for i in df.index:    
    if "entities" in str(df.loc[i,'status']) :
        df.loc[i,'flag12'] = 0

In [12]:
# create_at 
df.loc[:,'flag13']= 0
for i in df.index: 
    if "2011" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 1
#         print(df.loc[i,'created_at'])    
    elif "2012" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 2
#         print(df.loc[i,'created_at'])    
    elif "2013" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 3
#         print(df.loc[i,'created_at'])    
    elif "2014" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 4
#         print(df.loc[i,'created_at'])    
    elif "2015" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 5
#         print(df.loc[i,'created_at'])
    elif "2016" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 6
#         print(df.loc[i,'created_at'])
    elif "2017" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 7
    else:
        df.loc[i,'flag13']=0

In [13]:
# yearly tweets
df.loc[:,'flag14']= 0
for i in df.index: 
    df.loc[:,'flag14'] = df.loc[:,'statuses_count']*(8-df.loc[:,'flag13'])

In [14]:
# flag7
df.loc[:,'flag7']= 0
for i in df.index: 
    df.loc[:,'flag14'] = df.loc[:,'statuses_count']*(8-df.loc[:,'flag13'])

In [60]:
fg3 = df.loc[:,['flag14','flag11','flag10','flag9','flag7','flag6',
                          'friends_count','followers_count','listedcount','favourites_count','statuses_count',
                'flag3','flag2','flag4',]]

In [53]:
fg3 = df.loc[:,['flag14','flag11','flag10','flag9','flag7','flag6',
                          'friends_count',
                'flag3','flag2','flag4',]]

In [61]:
X = fg3
#Y = df.is_bot
Y = df.bot
y = Y
train_list = X
target_list = Y

In [62]:
from sklearn.model_selection import cross_val_score
from sklearn.datasets import make_blobs
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier
# X, y = make_blobs(n_samples=10000, n_features=10, centers=100,
#     random_state=0)
clf = DecisionTreeClassifier(max_depth=None, min_samples_split=2,
    random_state=0)
scores = cross_val_score(clf, X, y)
print(scores.mean())


clf = RandomForestClassifier(n_estimators=3000, max_depth=None,
     random_state=0,n_jobs=4)
# clf = RandomForestClassifier(n_jobs=2)
scores = cross_val_score(clf, X, y)
print(scores.mean())

0.872723167532
0.922419794316

In [63]:
clf = RandomForestClassifier(n_estimators=1000, max_depth=None,
     random_state=0)
clf.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=1000, n_jobs=1, oob_score=False, random_state=0,
            verbose=0, warm_start=False)

# Result

In [19]:
df_test = pd.read_csv('test_set_1.csv',encoding = "ISO-8859-1").dropna(how='all').dropna(thresh=6)

In [20]:
df2 = df_test

In [21]:
df2.loc[:,'flag2'] = 1
for i in df2.index:
    if type(df2.loc[i,'has_extended_profile'])==bool:
        if df2.loc[i,'has_extended_profile'] :
            df2.loc[i,'flag2'] = 1
        else:
            df2.loc[i,'flag2'] = 0
    else:
            df2.loc[i,'flag2'] = 2

In [22]:
df2.loc[:,'flag3'] = 1
for i in df2.index:    
    if df2.loc[i,'default_profile_image'] :
        df2.loc[i,'flag3'] = 1
    else:
        df2.loc[i,'flag3'] = 0

In [23]:
df2.loc[:,'flag4'] = 1
for i in df2.index:    
    if df2.loc[i,'verified'] :
        df2.loc[i,'flag4'] = 1
    else:
        df2.loc[i,'flag4'] = 0

In [24]:
# Whether 'bot' is in location
df2.loc[:,'flag6']=1
for i in df2.index: 
    if "bot" in str(df.loc[i,'location']):
        df.loc[i,'flag6'] = 1
    else:
        df.loc[i,'flag6']=0

In [25]:
#status
df2.loc[:,'flag8'] = 1
for i in df2.index:    
    if type(df2.loc[i,'bot']) == type('str') :
        if df2.loc[i,'bot']== 'null' or df2.loc[i,'bot']== 'None':
            df2.loc[i,'flag8'] = 0
        elif df2.loc[i,'bot']=='{':
            df2.loc[i,'flag8'] = 0
        else:
            df2.loc[i,'flag8'] = 1
    else:
        df2.loc[i,'flag8'] = 0

In [26]:
# id
df2['flag9'] = df2[df2.columns[0]].astype(np.int64)

In [27]:
# description
df2.loc[:,'flag10'] = 1
for i in df2.index:    
    if type(df2.loc[i,'description']) == type('str') :
        if df2.loc[i,'description']== 'null' or df2.loc[i,'description']== 'None':
#             print(df2.loc[i,'description'])
            df2.loc[i,'flag10'] = 1
        elif "bot" in str(df2.loc[i,'description']):
#             print (df2.loc[i,'description'])
            df2.loc[i,'flag10'] = 1
        else:
            df2.loc[i,'flag10'] = 0
    else:
        df2.loc[i,'flag10'] = 0

In [28]:
#bot in screen_name
df2.loc[:,'flag11']=1
for i in df2.index: 
    if (str(i[-3:])=='bot') or (str(i[-3:])=='Bot') or (str(i[0:3]))=='bot'or (str(i[0:3]))=='Bot':
        df2.loc[i,'flag11'] = 1
    else:
        df2.loc[i,'flag11'] = 0

In [29]:
#status or not
df2.loc[:,'flag12'] = 1
for i in df2.index:    
    if "entities" in str(df2.loc[i,'bot']) :
        df2.loc[i,'flag12'] = 0

In [30]:
# create_at 
df2.loc[:,'flag13']= 0
for i in df2.index: 
    if "2011" in str(df2.loc[i,'created_at']):
        df2.loc[i,'flag13'] = 1
#         print(df.loc[i,'created_at'])    
    elif "2012" in str(df2.loc[i,'created_at']):
        df2.loc[i,'flag13'] = 2
#         print(df.loc[i,'created_at'])    
    elif "2013" in str(df2.loc[i,'created_at']):
        df2.loc[i,'flag13'] = 3
#         print(df.loc[i,'created_at'])    
    elif "2014" in str(df2.loc[i,'created_at']):
        df2.loc[i,'flag13'] = 4
#         print(df.loc[i,'created_at'])    
    elif "2015" in str(df2.loc[i,'created_at']):
        df2.loc[i,'flag13'] = 5
#         print(df.loc[i,'created_at'])
    elif "2016" in str(df2.loc[i,'created_at']):
        df2.loc[i,'flag13'] = 6
#         print(df.loc[i,'created_at'])
    elif "2017" in str(df2.loc[i,'created_at']):
        df2.loc[i,'flag13'] = 7
    else:
        df2.loc[i,'flag13']=0

In [31]:
# yearly tweets
df2.loc[:,'flag14']= 0
for i in df2.index: 
    df2.loc[:,'flag14'] = df2.loc[:,'statuses_count']*(8-df2.loc[:,'flag13'])

In [32]:
# flag7
df2.loc[:,'flag7']= 0
for i in df2.index: 
    df2.loc[:,'flag14'] = df2.loc[:,'statuses_count']*(8-df2.loc[:,'flag13'])

In [67]:
res4 = df2.loc[:,['flag14','flag11','flag10','flag9','flag7','flag6',
                          'friends_count','followers_count','listedcount','favourites_count','statuses_count',
                'flag3','flag2','flag4',]]

In [57]:
res4 = df2.loc[:,['flag14','flag11','flag10','flag9','flag7','flag6',
                          'friends_count',
                'flag3','flag2','flag4',]]

In [68]:
X = res4

In [69]:
result=pd.DataFrame(df2['id'])
result.insert(1,'bot',0)
rfresult=clf.predict(X)

result['bot']=rfresult
result=result.astype(int)
pd.DataFrame(result).to_csv('result_alvin_2.csv',sep=',',index=False)

# Result2

In [20]:
# Whether 'bot' is in location
df.loc[:,'flag6']=1
for i in df.index: 

    if type(df.loc[i,'location'])==type('str'):
        if "bot" in str(df.loc[i,'location']):
            df.loc[i,'flag6'] = 1

        else:
            df.loc[i,'flag6']=0
        #print(df.location[i])
    else:
        df.loc[i,'flag6']=1

In [30]:
#status
df.loc[:,'flag8'] = 1
for i in df.index:    
    if type(df.loc[i,'status']) == type('str') :
        if df.loc[i,'status']== 'null' or df.loc[i,'status']== 'None':
            df.loc[i,'flag8'] = 0
        elif df.loc[i,'status']=='{':
            df.loc[i,'flag8'] = 0
        else:
            df.loc[i,'flag8'] = 1
    else:
        df.loc[i,'flag8'] = 0

In [21]:
# id
df['flag9'] = df[df.columns[0]].astype(np.int64)

In [22]:
# description
df.loc[:,'flag10'] = 1
for i in df.index:    
    if type(df.loc[i,'description']) == type('str') :
        if df.loc[i,'description']== 'null' or df.loc[i,'description']== 'None':
#             print(df.loc[i,'description'])
            df.loc[i,'flag10'] = 1
        elif "bot" in str(df.loc[i,'description']):
#             print (df.loc[i,'description'])
            df.loc[i,'flag10'] = 1
        else:
            df.loc[i,'flag10'] = 0
    else:
        df.loc[i,'flag10'] = 0

In [23]:
df.loc[:,'flag11']=1
for i in df.index: 
    if "bot" in str(df.loc[i,'screen_name']):
        df.loc[i,'flag11'] = 1
    else:
        df.loc[i,'flag11'] = 0

In [34]:
#status
df.loc[:,'flag12'] = 1
for i in df.index:    
    if "entities" in str(df.loc[i,'status']) :
        df.loc[i,'flag12'] = 0

In [24]:
# create_at 
df.loc[:,'flag13']= 0
for i in df.index: 
    if "2011" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 1
#         print(df.loc[i,'created_at'])    
    elif "2012" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 2
#         print(df.loc[i,'created_at'])    
    elif "2013" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 3
#         print(df.loc[i,'created_at'])    
    elif "2014" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 4
#         print(df.loc[i,'created_at'])    
    elif "2015" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 5
#         print(df.loc[i,'created_at'])
    elif "2016" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 6
#         print(df.loc[i,'created_at'])
    elif "2017" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 7
    else:
        df.loc[i,'flag13']=0

In [25]:
# flag14
df.loc[:,'flag14']= 0
for i in df.index: 
    df.loc[:,'flag14'] = df.loc[:,'statuses_count']*(8-df.loc[:,'flag13'])

In [26]:
# flag7
df.loc[:,'flag7']= 0
for i in df.index: 
    df.loc[:,'flag7'] = df.loc[:,'friends_count']*(8-df.loc[:,'flag13'])

In [27]:
# flag7
df.loc[:,'default_profile_image']= 0

In [28]:
fg5['flag11'].describe()

NameError: name 'fg5' is not defined

In [20]:
fg4 = df.loc[:,['flag14','flag12','flag11','flag10','flag9','flag7','flag8','flag6',
                          'friends_count','followers_count','listedcount','favourites_count','statuses_count',
                'verified','default_profile_image','has_extended_profile']]

In [51]:
fg5=fg4.loc[:,[ 'flag12','flag12']]
yy = y

In [52]:
clf = RandomForestClassifier(n_estimators=1000, max_depth=None,
     random_state=0)
clf.fit(fg5,yy)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [32]:
fg3 = df.loc[:,['flag14','flag11','flag10','flag9','flag7','flag6',
                          'friends_count','followers_count','listedcount','favourites_count','statuses_count',
                'verified','default_profile_image','has_extended_profile']]

In [33]:
X = fg3
#Y = df.is_bot
Y = df.bot
y = Y
train_list = X
target_list = Y

In [34]:
result=pd.DataFrame(df_test['id'])
result.insert(1,'bot',0)
rfresult=clf.predict(X)

result['bot']=rfresult
result=result.astype(int)
pd.DataFrame(result).to_csv('result_alvin_1.csv',sep=',',index=False)

# Split traing set

In [207]:
X=df10
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [208]:
clf = RandomForestClassifier(n_estimators=100, max_depth=None,
     random_state=0)
clf.fit(X_train, y_train)
pred=clf.predict(X_test)
print (np.mean(pred==y_test))

0.910714285714

In [209]:
count=0
for i in np.array(X_test[:,5]):
    if i[0] == 1:
        print(i[0])
        pred[count]=0
    count+=1

TypeError: unhashable type: 'slice'

In [185]:
print (np.mean(pred==y_test))

0.910714285714

In [210]:
from sklearn.metrics import confusion_matrix
confusion_matrix(pred,y_test)

array([[264,  24],
       [ 26, 246]])

In [187]:
count=0
y_test_array = np.array(y_test)
for i in np.array(X_test[:,5]):
    if  pred[count]!=y_test_array[count]:
        if pred[count]==0:
            print(X_test[count,:])
    count+=1

[[ 7  1  0  0  0 10  2  0  0  1  0  0 65 47  0  0  3]]
[[    3     1     0     0     0     9     2     0     0     0     0     0
  35744 35906   130   864  3027]]
[[   0    1    0    0    0   12    2    0    0    1    1    0 1351   54
     0    2    6]]
[[ 7  1  0  0  0  9  2  0  0  1  0  0 97 29  0  0  3]]
[[ 7  1  0  0  0  6  2  0  0  1  1  1 86  8  0 12  3]]
[[ 7  1  0  0  0 11  2  0  0  1  1  0  9  1  0  0  1]]
[[  3   1   0   0   0  12   2   0   0   1   1   0 197  47   0  62   1]]
[[  2   1   0   0   0  15   2   0   0   1   1   0  17  32   2   3 173]]
[[  0   1   0   0   0   6   2   1   0   0   0   0 252 275   6 103 755]]
[[    4     1     0     1     0     8     2     1     0     0     1     0
     27 10014   326     0 14473]]
[[   2    1    0    0    0   12    2    0    0    1    1    0   19   21
     3    0 1160]]
[[   6    1    0    0    0   13    2    0    0    1    1    0 3673  505
     0  745  595]]
[[ 3  1  0  0  0 12  2  0  0  1  1  1 91  8  0  0 18]]
[[ 4  1  0  0  0  9  2  0  0  1  1  1 17  6  0  0  1]]
[[ 4  1  0  0  0 10  2  0  0  0  0  0 93  9  0  0  8]]
[[   0    1    0    0    0    7    2    0    0    1    0    0 5001 4159
   120   15   51]]
[[ 2  1  0  0  0  9  2  0  0  1  1  0 45  8  0  3  5]]
[[  6   1   0   0   0  11   2   0   0   1   0   0  54  35   2   0 114]]
[[    0     1     0     0     0    11     2     0     0     0     0     0
    410   428    13   630 16989]]
[[     2      1      0      0      1     10      2      0      0      0
       0      0 355287 362770   1895      9   3042]]
[[    0     1     0     0     0     9     2     1     0     0     0     0
   7468 10057   108  1905  1459]]
[[   4    1    0    0    0   15    2    1    0    0    0    0  818  600
    40  651 1787]]
[[     0      1      0      1      0     14      2      1      0      0
       0      0  95060 133554   1455   1453  40763]]
[[   3    1    0    0    0    7    2    1    0    0    0    0 1538 1323
    18  186  912]]

In [213]:
y_f=y_test.to_frame()
y_f.head(10)

      bot
2064    0
1211    1
719     1
2596    0
2118    0
2423    0
1688    0
1739    0
1611    0
1295    1

In [223]:
type(y_f.iloc[[2],[0]])

pandas.core.frame.DataFrame

In [205]:
df10=df.loc[:,['flag13','flag12','flag11','flag10','flag4','flag7','flag2','flag1','flag8','flag6','flag5','flag3',
                          'friends_count','followers_count','listedcount','favourites_count','statuses_count']]

In [206]:
df10.head(10)

,flag13,flag12,flag11,flag10,flag4,flag7,flag2,flag1,flag8,flag6,flag5,flag3,friends_count,followers_count,listedcount,favourites_count,statuses_count
0,7,1,0,0,0,14,2,0,0,0,0,0,0,1291,10,0,78554
1,6,1,0,0,0,9,2,0,3,1,0,0,349,1,0,38,31
2,5,1,1,1,0,15,2,0,0,0,1,0,0,1086,14,0,713
3,5,1,0,0,0,9,2,0,0,1,1,1,0,33,8,0,676
4,5,1,0,0,0,12,2,1,3,1,0,0,745,11,0,146,185
5,7,1,0,0,0,14,2,0,0,1,0,0,186,1,0,0,11
6,4,1,0,1,0,11,2,1,0,1,0,0,0,193,19,0,6068
7,5,1,0,0,0,13,2,0,0,1,1,0,2,8227,89,26,2597
8,5,1,0,1,0,15,2,1,0,1,1,0,0,275,17,23,9922
9,5,1,0,0,0,10,2,0,0,1,1,0,3,51,9,0,2515

In [218]:
df.iloc[:,[0]]

               id
0     8.160000e+17
1     4.843621e+09
2     4.303727e+09
3     3.063139e+09
4     2.955142e+09
5     8.410000e+17
6     2.482835e+09
7     3.333574e+09
8     2.996105e+09
9     3.271096e+09
10    2.717905e+09
11    2.826073e+09
12    8.100000e+17
13    1.027584e+09
14    3.949913e+08
15    3.032363e+09
16    2.568852e+09
17    2.954704e+09
18    8.390000e+17
19    2.835724e+09
20    1.918203e+09
21    2.475875e+09
22    1.909219e+09
23    4.040207e+09
24    3.369547e+09
25    2.555847e+09
26    2.520450e+09
27    8.290000e+17
28    2.886559e+09
29    2.787206e+09
...            ...
2767  1.622870e+07
2768  2.355272e+09
2769  4.810089e+07
2770  2.070461e+08
2771  1.986142e+07
2772  1.529274e+09
2773  8.002847e+08
2774  8.410000e+17
2775  1.817123e+08
2776  1.737285e+07
2777  2.432640e+07
2778  7.477850e+07
2779  7.223549e+07
2780  3.666757e+08
2781  1.391862e+09
2782  6.161463e+07
2783  8.410000e+17
2784  7.224801e+08
2785  2.190714e+07
2786  1.021249e+08
2787  6.409034e+07
2788  1.042267e+08
2789  1.502883e+07
2790  5.683425e+07
2791  2.191118e+09
2792  2.362091e+08
2793  2.545039e+08
2794  1.548544e+07
2795  7.513869e+08
2796  1.992936e+07

[2797 rows x 1 columns]

In [224]:
df10.head(10)

,flag13,flag12,flag11,flag10,flag4,flag7,flag2,flag1,flag8,flag6,flag5,flag3,friends_count,followers_count,listedcount,favourites_count,statuses_count
0,7,1,0,0,0,14,2,0,0,0,0,0,0,1291,10,0,78554
1,6,1,0,0,0,9,2,0,3,1,0,0,349,1,0,38,31
2,5,1,1,1,0,15,2,0,0,0,1,0,0,1086,14,0,713
3,5,1,0,0,0,9,2,0,0,1,1,1,0,33,8,0,676
4,5,1,0,0,0,12,2,1,3,1,0,0,745,11,0,146,185
5,7,1,0,0,0,14,2,0,0,1,0,0,186,1,0,0,11
6,4,1,0,1,0,11,2,1,0,1,0,0,0,193,19,0,6068
7,5,1,0,0,0,13,2,0,0,1,1,0,2,8227,89,26,2597
8,5,1,0,1,0,15,2,1,0,1,1,0,0,275,17,23,9922
9,5,1,0,0,0,10,2,0,0,1,1,0,3,51,9,0,2515

In [301]:
type(X_test)

pandas.core.frame.DataFrame

In [245]:
y_preditc_f=pd.DataFrame(pred,columns=['pred'])
y_preditc_f

     pred
0       0
1       1
2       1
3       1
4       0
5       0
6       0
7       0
8       0
9       1
10      0
11      0
12      1
13      1
14      0
15      1
16      0
17      1
18      0
19      0
20      1
21      0
22      1
23      0
24      0
25      1
26      1
27      0
28      0
29      1
..    ...
530     0
531     0
532     0
533     0
534     1
535     0
536     1
537     1
538     1
539     1
540     0
541     1
542     0
543     1
544     0
545     1
546     0
547     0
548     0
549     0
550     0
551     0
552     1
553     0
554     1
555     1
556     1
557     0
558     1
559     0

[560 rows x 1 columns]

In [248]:
X_test.loc[:,'pred'] =pd.DataFrame(pred,columns=['pred'])
X_test['pred']

/Users/alvin/anaconda3/lib/python3.5/site-packages/pandas/core/indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

2064    NaN
1211    NaN
719     NaN
2596    NaN
2118    NaN
2423    NaN
1688    NaN
1739    NaN
1611    NaN
1295    NaN
1321    NaN
1431    NaN
532     0.0
1260    NaN
2114    NaN
1241    NaN
2619    NaN
1474    NaN
841     NaN
2655    NaN
430     1.0
1389    NaN
748     NaN
2759    NaN
2261    NaN
509     0.0
834     NaN
2254    NaN
2244    NaN
557     0.0
       ...
2092    NaN
2502    NaN
2699    NaN
847     NaN
761     NaN
1467    NaN
1196    NaN
435     0.0
1288    NaN
237     0.0
2284    NaN
109     0.0
2765    NaN
163     1.0
1833    NaN
252     0.0
1728    NaN
2272    NaN
2275    NaN
1360    NaN
2468    NaN
2172    NaN
759     NaN
2723    NaN
1000    NaN
1078    NaN
678     NaN
2700    NaN
461     0.0
1075    NaN
Name: pred, dtype: float64

In [304]:
type(X_test)
type(fg3)

numpy.matrixlib.defmatrix.matrix

In [307]:
df_merge = pd.merge(df,X_test,how="inner",right_index=True,left_index=True)
df_merge.to_csv('merge.csv',sep=',',index=False)

In [297]:
X_test.shape
X_test.head(6)

,flag13,flag12,flag11,flag10,flag4,flag7,flag2,flag1,flag8,flag6,flag5,flag3,friends_count,followers_count,listedcount,favourites_count,statuses_count,pred
2064,1,1,0,0,0,13,2,1,0,1,0,0,295,206,0,1506,13562,0.0
1211,5,1,0,0,0,12,2,0,0,1,1,0,122,566,56,7,33258,1.0
719,6,1,1,1,0,11,2,0,0,0,1,0,6,252,17,11,236,1.0
2596,6,1,0,0,0,10,2,0,0,1,1,0,335,40,0,63,40,1.0
2118,0,1,0,0,1,11,2,1,0,0,0,0,1272,46472564,133825,135,4200,0.0
2423,0,1,0,0,0,6,2,1,3,1,0,0,237,49,0,83,1542,0.0

In [298]:
count = 0
for i in X_test.index:
    print(i)
    X_test.loc[i,'pred']=pred[count]
    count+=1
X_test.head(10)

2064
1211
719
2596
2118
2423
1688
1739
1611
1295

/Users/alvin/anaconda3/lib/python3.5/site-packages/pandas/core/indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

1321
1431
532
1260
2114
1241
2619
1474
841
2655
430
1389
748
2759
2261
509
834
2254
2244
557
2694
772
572
2019
1713
1456
1036
368
829
1623
2672
1177
1738
564
411
2698
1269
2387
2209
463
535
1752
1826
912
741
705
1864
1457
194
1073
1058
2029
178
2125
1448
141
1593
1886
2316
407
1405
610
324
1817
2087
2039
32
433
67
911
1801
862
1716
2692
2630
498
729
2213
1410
1270
2302
2744
1662
298
507
2405
2470
1723
1572
1429
331
2378
651
785
644
2057
196
879
30
2246
1097
1926
2236
1064
650
1537
1368
2306
1411
432
845
2784
322
1135
2783
1727
794
309
175
1945
73
1988
63
1775
2396
45
1656
367
1613
80
1326
746
1809
940
2225
1226
2127
1344
1876
1745
2751
605
1790
1697
809
2438
1706
1221
2758
1366
1023
1229
2706
44
471
1710
1437
1380
478
1970
1502
1088
93
2610
1317
1626
318
1681
2525
1125
1973
2419
1025
1476
2469
479
1830
414
408
2543
727
2192
677
1005
239
2497
782
1102
2588
1517
2079
1133
1849
211
70
945
2704
2738
554
56
617
1550
1780
1724
1507
1055
1862
460
544
2426
2430
1807
2472
1765
2768
124
958
1885
944
1149
2420
1904
807
1239
789
1543
965
803
2659
1647
941
1378
2024
1760
1014
1322
781
1010
233
296
1362
567
1425
450
2266
1721
1444
1778
533
1452
1338
1037
602
1340
410
2427
744
1837
354
1744
1612
528
2733
29
1792
1259
1793
439
786
889
188
170
321
43
87
1995
695
282
676
1921
821
2372
1283
1628
2288
149
1987
788
2384
1273
1916
1518
134
2359
2477
2394
2147
581
1667
1818
1017
2193
518
221
1677
1061
1278
173
2201
2080
1230
2279
990
2058
2021
152
2609
2519
270
2059
1406
831
2549
2020
443
1586
2421
257
1956
2309
457
2338
254
986
2796
2360
168
415
1888
1422
291
1231
2611
436
135
978
2084
1929
2740
1286
511
1057
464
869
1610
929
1797
2097
976
210
1947
2319
365
402
1641
1114
1847
2171
857
700
2044
2456
387
393
332
874
2196
1268
1894
1960
1450
2490
655
199
1116
2133
289
246
2229
942
1650
2594
1374
2770
2680
1737
1192
2510
521
670
1151
2542
2414
1234
1213
104
1957
811
420
765
2508
2496
2334
486
2045
226
231
1896
1666
111
51
1535
1514
1336
1244
1385
1732
485
1106
1004
962
1407
543
1128
2256
1124
2507
783
685
212
1934
2668
1361
422
2158
313
2120
506
1034
1207
1511
1882
218
1413
2274
2129
787
2098
1173
679
1299
1590
527
2466
1001
2195
1313
1253
926
2528
1090
2060
1839
1419
1506
2154
2250
1189
2713
358
568
272
1912
102
495
259
96
251
1123
2230
662
2737
2177
2245
2028
1556
2032
2535
2673
2164
2010
456
462
2505
2001
381
1161
707
599
2009
1225
2705
2376
1117
1334
2437
2130
2161
2661
565
2092
2502
2699
847
761
1467
1196
435
1288
237
2284
109
2765
163
1833
252
1728
2272
2275
1360
2468
2172
759
2723
1000
1078
678
2700
461
1075

,flag13,flag12,flag11,flag10,flag4,flag7,flag2,flag1,flag8,flag6,flag5,flag3,friends_count,followers_count,listedcount,favourites_count,statuses_count,pred
2064,1,1,0,0,0,13,2,1,0,1,0,0,295,206,0,1506,13562,0.0
1211,5,1,0,0,0,12,2,0,0,1,1,0,122,566,56,7,33258,1.0
719,6,1,1,1,0,11,2,0,0,0,1,0,6,252,17,11,236,1.0
2596,6,1,0,0,0,10,2,0,0,1,1,0,335,40,0,63,40,1.0
2118,0,1,0,0,1,11,2,1,0,0,0,0,1272,46472564,133825,135,4200,0.0
2423,0,1,0,0,0,6,2,1,3,1,0,0,237,49,0,83,1542,0.0
1688,0,1,0,0,1,10,2,1,0,0,0,0,1675,1983513,28504,2658,40938,0.0
1739,0,1,0,0,1,15,2,1,0,0,0,0,1609,177335,4538,4609,12818,0.0
1611,0,1,0,0,1,9,2,1,0,0,1,0,1708,135677,907,11340,23655,0.0
1295,4,1,0,0,0,14,2,1,0,1,0,0,1,291,17,30,3223,1.0

In [240]:
pd.merge(y_test,X_test,how="inner",right_index=True,left_index=True)

ValueError: can not merge DataFrame with instance of type <class 'pandas.core.series.Series'>

In [ ]:
df_merge.to_csv('merge.csv',sep=',',index=False)

In [2]:
from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestRegressor
import numpy as np
#Load boston housing dataset as an example
boston = load_boston()
X = boston["data"]
Y = boston["target"]
names = boston["feature_names"]
rf = RandomForestRegressor()
rf.fit(X, Y)
print ("Features sorted by their score:")
print (sorted(zip(map(lambda x: round(x, 4), rf.feature_importances_), names), 
             reverse=True))

Features sorted by their score:
[(0.40679999999999999, 'RM'), (0.38879999999999998, 'LSTAT'), (0.087499999999999994, 'DIS'), (0.041700000000000001, 'CRIM'), (0.020299999999999999, 'NOX'), (0.0112, 'AGE'), (0.0104, 'TAX'), (0.01, 'B'), (0.0086, 'PTRATIO'), (0.0080000000000000002, 'RAD'), (0.0054999999999999997, 'INDUS'), (0.00059999999999999995, 'ZN'), (0.00059999999999999995, 'CHAS')]

In [6]:
Y.shape

(506,)

In [36]:
df['has_extended_profile']=df['has_extended_profile'].fillna(False)
df['default_profile']=df['default_profile'].fillna(False)
df['verified']=df['verified'].fillna(False)
df['default_profile_image']=df['default_profile_image'].fillna(False)

In [86]:
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import SelectFromModel
from sklearn.svm import LinearSVC

clf = Pipeline([
  ('feature_selection', SelectFromModel(ExtraTreesClassifier())),
  ('classification', RandomForestClassifier(n_estimators=3000, max_depth=None,
     random_state=0))
])
scores = cross_val_score(clf, X, y)
print(scores.mean())

clf = ExtraTreesClassifier(n_estimators=10000, max_depth=None,
     random_state=0)
scores = cross_val_score(clf, X, y)
print(scores)
scores.mean() > 0.999

0.797634654927
[ 0.88424437  0.89592275  0.89806867]

False

In [284]:
X_train.shape

(2237, 17)

In [287]:
df21 = pd.read_csv('test_0505_2.csv',encoding = "UTF")
df22 = pd.read_csv('result1.csv',encoding = "UTF")

In [289]:
xdf21=df21['bot']
xdf22=df22['bot']

In [290]:
print (np.mean(xdf21==xdf22))
confusion_matrix(xdf21,xdf22)

0.88

array([[318,  45],
       [ 24, 188]])

In [ ]:
pd.DataFrame(result).to_csv('result.csv',sep=',',index=False)

fg3 = df.loc[:,['flag17','flag16','flag15','flag14','flag13','flag12','flag11','flag10','flag9','flag7','flag8','flag6',
                          'friends_count','followers_count','listedcount','favourites_count','statuses_count',
                'verified','default_profile','default_profile_image','has_extended_profile']]

from random import randint
rr = ['flag16','flag17','flag15','flag12','flag10','flag8','flag6',
                          'listedcount','favourites_count','statuses_count',
                'default_profile','default_profile_image','has_extended_profile']
rr1 = ['verified','friends_count','followers_count','flag9','flag7','flag14',]
for i in range(10):
    x =  randint(0, len(rr)-1)
    rr1.append(rr[x])
rr1

fg3 = df.loc[:,rr1]

from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestRegressor
import numpy as np
#Load boston housing dataset as an example
boston = load_boston()

names =rr1
# names = ['flag15','flag14','flag12','flag10','flag9','flag8','flag7','flag6']
rf = RandomForestRegressor()
rf.fit(X, Y)
print ("Features sorted by their score:")
print (sorted(zip(map(lambda x: round(x, 4), rf.feature_importances_), names), 
             reverse=True))