In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('all.csv',encoding = "ISO-8859-1")
df.head(4)
print(df.shape)

(2232, 20)

### ConutVector

In [2]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()
des1 = count_vect.fit_transform(df.description.values.astype('U'))
lang1 = count_vect.fit_transform(df.lang.values.astype('U'))
name1 = count_vect.fit_transform(df.name.values.astype('U'))
des1.shape

(2232, 7744)

### TrueFalse Vector

In [3]:
df.loc[:,'flag1'] = 1
for i in df.index:    
    if df.loc[i,'default_profile'] :
        df.loc[i,'flag1'] = 1
    else:
        df.loc[i,'flag1'] = 0

In [4]:
df.loc[:,'flag2'] = 1
for i in df.index:    
    if df.loc[i,'has_extended_profile'] :
        df.loc[i,'flag2'] = 1
    else:
        df.loc[i,'flag2'] = 0

In [5]:
df.loc[:,'flag3'] = 1
for i in df.index:    
    if df.loc[i,'default_profile_image'] :
        df.loc[i,'flag3'] = 1
    else:
        df.loc[i,'flag3'] = 0

In [6]:
df.loc[:,'flag4'] = 1
for i in df.index:    
    if df.loc[i,'verified'] :
        df.loc[i,'flag4'] = 1
    else:
        df.loc[i,'flag4'] = 0

### Number Vector

In [7]:
df.loc[:,'flag5']=1
for i in df.index: 

    if type(df.loc[i,'location'])==type('str'):
        df.loc[i,'flag5']=1
        #print(df.location[i])
    else:
        df.loc[i,'flag5']=0

In [8]:
df.loc[:,'flag6']=1
for i in df.index: 

    if 't.co' in str(df.loc[i,'url']):
        df.loc[i,'flag6']=1
        #print(df.location[i])
    else:
        df.loc[i,'flag6']=0

In [9]:
df.loc[:,'flag7']=1
for i in df.index:
    if df.loc[i,'followers_count']==0:
        df.loc[i,'flag7']=1
    elif 0<df.loc[i,'followers_count']<=2:
        df.loc[i,'flag7']=2
    elif 3<=df.loc[i,'followers_count']<=8:
        df.loc[i,'flag7']=3
    elif 9<=df.loc[i,'followers_count']<=16:
        df.loc[i,'flag7']=4
    elif 17<=df.loc[i,'followers_count']<=32:
        df.loc[i,'flag7']=5
    elif 33<=df.loc[i,'followers_count']<=50:
        df.loc[i,'flag7']=6
    elif 51<=df.loc[i,'followers_count']<=74:
        df.loc[i,'flag7']=7
    elif 75<=df.loc[i,'followers_count']<=104:
        df.loc[i,'flag7']=8
    elif 105<=df.loc[i,'followers_count']<=159:
        df.loc[i,'flag7']=9
    elif 160<=df.loc[i,'followers_count']<=219:
        df.loc[i,'flag7']=10
    elif 220<=df.loc[i,'followers_count']<=314:
        df.loc[i,'flag7']=11
    elif 315<=df.loc[i,'followers_count']<=475:
        df.loc[i,'flag7']=12
    elif 476<=df.loc[i,'followers_count']<=758:
        df.loc[i,'flag7']=13
    elif 759<=df.loc[i,'followers_count']<=1137:
        df.loc[i,'flag7']=14
    elif 1138<=df.loc[i,'followers_count']<=2740:
        df.loc[i,'flag7']=15
    elif 2741<=df.loc[i,'followers_count']<=5730:
        df.loc[i,'flag7']=16
    elif 5731<=df.loc[i,'followers_count']<=14732:
        df.loc[i,'flag7']=17
    elif 14733<=df.loc[i,'followers_count']<=54490:
        df.loc[i,'flag7']=18
    elif 54490<df.loc[i,'followers_count']:
        df.loc[i,'flag7']=19

In [10]:
df.loc[:,'flag8']=1
for i in df.index:
    if df.loc[i,'friends_count']==0:
        df.loc[i,'flag8']=1
    elif df.loc[i,'friends_count']==1:
        df.loc[i,'flag8']=2
    elif 2<=df.loc[i,'friends_count']<=19:
        df.loc[i,'flag8']=3
    elif 20<=df.loc[i,'friends_count']<=55:
        df.loc[i,'flag8']=4
    elif 56<=df.loc[i,'friends_count']<=124:
        df.loc[i,'flag8']=5
    elif 125<=df.loc[i,'friends_count']<=242:
        df.loc[i,'flag8']=6
    elif 243<=df.loc[i,'friends_count']<=349:
        df.loc[i,'flag8']=7
    elif 350<=df.loc[i,'friends_count']<=572:
        df.loc[i,'flag8']=8
    elif 573<=df.loc[i,'friends_count']<=973:
        df.loc[i,'flag8']=9
    elif 974<=df.loc[i,'friends_count']<=2194:
        df.loc[i,'flag8']=10
    elif 2195<=df.loc[i,'friends_count']<=389732:
        df.loc[i,'flag8']=11
    elif 389732<df.loc[i,'friends_count']:
        df.loc[i,'flag8']=12

In [11]:
df.loc[:,'flag9']=1
for i in df.index:
    if df.loc[i,'listedcount']==0:
        df.loc[i,'flag9']=1
    elif df.loc[i,'listedcount']>2495:
        df.loc[i,'flag9']=2
    elif 1<=df.loc[i,'listedcount']<=2:
        df.loc[i,'flag9']=3
    elif 3<=df.loc[i,'listedcount']<=12:
        df.loc[i,'flag9']=4
    elif 13<=df.loc[i,'listedcount']<=40:
        df.loc[i,'flag9']=5
    elif 41<=df.loc[ i,'listedcount']<=200:
        df.loc[i,'flag9']=6
    elif 201<=df.loc[i,'listedcount']<=2495:
        df.loc[i,'flag9']=7

In [12]:
df.loc[:,'flag10']=1
for i in df.index:
    if df.loc[i,'favourites_count']==0:
        df.loc[i,'flag10']=1
    elif 1<=df.loc[i,'favourites_count']<=10:
        df.loc[i,'flag10']=2
    elif 11<=df.loc[i,'favourites_count']<=20:
        df.loc[i,'flag10']=3
    elif 21<=df.loc[i,'favourites_count']<=30:
        df.loc[i,'flag10']=4
    elif 31<=df.loc[i,'favourites_count']<=40:
        df.loc[i,'flag10']=5
    elif 41<=df.loc[i,'favourites_count']<=50:
        df.loc[i,'flag10']=6
    elif 51<=df.loc[i,'favourites_count']<=60:
        df.loc[i,'flag10']=7
    elif 61<=df.loc[i,'favourites_count']<=70:
        df.loc[i,'flag10']=8
    elif 71<=df.loc[i,'favourites_count']<=80:
        df.loc[i,'flag10']=9
    elif 81<=df.loc[i,'favourites_count']<=90:
        df.loc[i,'flag10']=10
    elif 91<=df.loc[i,'favourites_count']<=100:
        df.loc[i,'flag10']=11
    elif 101<=df.loc[i,'favourites_count']<=200:
        df.loc[i,'flag10']=12
    elif 201<=df.loc[i,'favourites_count']<=500:
        df.loc[i,'flag10']=13
    elif 501<=df.loc[i,'favourites_count']<=1600:
        df.loc[i,'flag10']=14
    elif 1601<=df.loc[i,'favourites_count']:
        df.loc[i,'flag10']=15

In [13]:
df.loc[:,'flag11']=1
for i in df.index:
    if df.loc[i,'statuses_count']==0:
        df.loc[i,'flag10']=1
    elif 1<=df.loc[i,'statuses_count']<=13:
         df.loc[i,'flag10']=2
    elif 14<=df.loc[i,'statuses_count']<=50:
         df.loc[i,'flag10']=3
    elif 51<=df.loc[i,'statuses_count']<=133:
         df.loc[i,'flag10']=4
    elif 134<=df.loc[i,'statuses_count']<=355:
         df.loc[i,'flag10']=5
    elif 356<=df.loc[i,'statuses_count']<=703:
         df.loc[i,'flag10']=6
    elif 704<=df.loc[i,'statuses_count']<=1439:
         df.loc[i,'flag10']=7
    elif 1440<=df.loc[i,'statuses_count']<=2358:
         df.loc[i,'flag10']=8
    elif 2359<=df.loc[i,'statuses_count']<=3621:
         df.loc[i,'flag10']=9
    elif 3622<=df.loc[i,'statuses_count']<=5250:
         df.loc[i,'flag10']=10
    elif 5251<=df.loc[i,'statuses_count']<=7837:
         df.loc[i,'flag10']=11
    elif 7838<=df.loc[i,'statuses_count']<=12150:
         df.loc[i,'flag10']=12
    elif 12151<=df.loc[i,'statuses_count']<=19498:
         df.loc[i,'flag10']=13
    elif 19499<=df.loc[i,'statuses_count']<=38950:
         df.loc[i,'flag10']=14
    elif 38951<=df.loc[i,'statuses_count']:
         df.loc[i,'flag10']=15

In [14]:
df.head(10)

,id,id_str,screen_name,location,description,url,followers_count,friends_count,listedcount,created_at,...,flag2,flag3,flag4,flag5,flag6,flag7,flag8,flag9,flag10,flag11
0,813286.0,813286,BarackObama,"Washington, DC","Dad, husband, President, citizen.",https://t.co/93Y27HEnnX,85681083,630949,222411,Mon Mar 05 22:08:25 +0000 2007,...,1,0,1,1,1,19,12,2,13,1
1,807095.0,807095,nytimes,New York City,Where the conversation begins. Follow for brea...,http://t.co/ahvuWqicF9,34363304,909,187570,03/02/2007 20:41,...,0,0,1,1,1,19,9,2,15,1
2,21447363.0,21447363,katyperry,NaN,Artist. Activist. Conscious.,https://t.co/wwR7hvIqW0,96321564,203,142370,Fri Feb 20 23:45:56 +0000 2009,...,1,0,1,0,1,19,6,2,11,1
3,23375688.0,23375688,selenagomez,Los Angeles,"Get 'It Ain't Me' with Kygo, out now on Apple ...",https://t.co/zP4EExvtte,46472564,1272,133825,Mon Mar 09 00:16:45 +0000 2009,...,0,0,1,1,1,19,10,2,10,1
4,972651.0,972651,mashable,NaN,Mashable is for superfans. We're not for the c...,http://t.co/1Gm8aVACKn,8476840,2836,129832,Mon Mar 12 01:28:01 +0000 2007,...,0,0,1,0,1,19,11,2,15,1
5,5402612.0,5402612,BBCBreaking,"London, UK",Breaking news alerts and updates from the BBC....,http://t.co/vBzl7LOaso,30220786,3,126490,4/22/2007 14:42,...,0,0,1,1,1,19,3,2,14,1
6,16409683.0,16409683,britneyspears,"Los Angeles, CA",My new album #Glory is out now!,https://t.co/edKVeKuEaP,51314111,392225,123643,Mon Sep 22 20:47:35 +0000 2008,...,0,0,1,1,1,19,12,2,10,1
7,17919972.0,17919972,taylorswift13,NaN,Born in 1989.,https://t.co/blhi4NNEJr,83720371,244,122731,Sat Dec 06 10:10:54 +0000 2008,...,0,0,1,0,1,19,7,2,10,1
8,816653.0,816653,TechCrunch,"San Francisco, CA","Breaking technology news, analysis, and opinio...",https://t.co/b5Oyx12qGG,8530951,890,108650,03/07/2007 1:27,...,0,0,1,1,1,19,9,2,15,1
9,19397785.0,19397785,Oprah,NaN,NaN,https://t.co/IKOnfAha8E,35916070,277,90152,Fri Jan 23 15:18:34 +0000 2009,...,0,0,1,0,1,19,7,2,12,1

### Combination

In [15]:
type(des1)

scipy.sparse.csr.csr_matrix

In [16]:
import scipy.sparse as sp
h = sp.hstack((des1,lang1))
h = sp.hstack((h,name1))
h.shape

(2232, 10955)

In [17]:
flag19 = np.matrix(df[['flag1','flag2','flag3','flag4','flag5','flag6','flag7','flag8','flag9','flag10',]])
type(flag19)

numpy.matrixlib.defmatrix.matrix

In [18]:
f = [None] * 11
f[1] = np.matrix(df.flag1).transpose()
f[2] = np.matrix(df.flag2).transpose()
f[3] = np.matrix(df.flag3).transpose()
f[4] = np.matrix(df.flag4).transpose()
f[5] = np.matrix(df.flag5).transpose()
f[6] = np.matrix(df.flag6).transpose()
f[7] = np.matrix(df.flag7).transpose()
f[8] = np.matrix(df.flag8).transpose()
f[9] = np.matrix(df.flag9).transpose()
f[10] = np.matrix(df.flag10).transpose()
f[0] = np.matrix(df.flag11).transpose()

In [19]:
g = h
for i in range(10):
    g = sp.hstack((g, f[i]))

In [20]:
g

<2232x10965 sparse matrix of type '<class 'numpy.int64'>'
	with 43357 stored elements in COOrdinate format>

### Classification

In [21]:
from sklearn.model_selection import cross_val_predict
from sklearn.naive_bayes import MultinomialNB,BernoulliNB
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import cross_val_score
import numpy as np
train_list = g
target_list = df.bot
accuracy = cross_val_score(MultinomialNB(alpha=0.1,fit_prior=True, class_prior=[10,10]), train_list, target_list, cv=10, scoring='accuracy')
precision = cross_val_score(MultinomialNB(alpha=0.1), train_list, target_list, cv=10, scoring='precision')
recall = cross_val_score(MultinomialNB(alpha=0.1), train_list, target_list, cv=10, scoring='recall')
f1 = cross_val_score(MultinomialNB(alpha=0.1), train_list, target_list, cv=10, scoring='f1')
roc_auc = cross_val_score(MultinomialNB(alpha=0.1), train_list, target_list, cv=10, scoring='roc_auc')
print ("cmean accuracy = %6.4f"%np.mean(accuracy))
print ("mean precision = %6.4f"%np.mean(precision))
print ("mean recall = %6.4f"%np.mean(recall))
print ("mean f1 score = %6.4f"%np.mean(f1))
print ("mean AUC = %6.4f"%np.mean(roc_auc))

cmean accuracy = 0.8276
mean precision = 0.8654
mean recall = 0.7493
mean f1 score = 0.7958
mean AUC = 0.8876

### BackUp

In [31]:
from sklearn.naive_bayes import MultinomialNB
MultinomialMB_clf = MultinomialNB().fit(des1, df.bot)

In [32]:
x1 = df.followers_count.tolist()
x2 = [x1]
x2 = np.matrix(x2).transpose()
print(x2)
xx = X_train_counts
print (type(x1))
print (type(x2))
print (type(xx))
#np.concatenate((xx,x1),axis = 1)
import scipy.sparse as sp
h = sp.hstack((xx, x2))
h.shape
print(type(df.followers_count.values))
print(type(df.followers_count.values))

[[85681083]
 [34363304]
 [96321564]
 ...,
 [       4]
 [      23]
 [     101]]

NameError: name 'X_train_counts' is not defined

In [74]:
np.random.randint(2, size=(6, 100))

array([[0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
        0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
        0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1,
        0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
        0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0],
       [1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
        1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
        1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1,
        1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0,
        1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0],
       [1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
        1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
        1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
        1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0],
       [1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1,
        1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0,
        1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
        1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
        0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1],
       [1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0,
        1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1,
        1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
        1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0],
       [0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1,
        1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1,
        1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0,
        1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
        0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1]])

In [75]:
s= '"abc"'

In [77]:
s.strip('"')

'abc'