In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../BotData/all_users_v1.csv',encoding = "ISO-8859-1")
df.head(4)
print(df.shape)

(2218, 28)

### ConutVector

In [2]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()
des1 = count_vect.fit_transform(df.description.values.astype('U'))
lang1 = count_vect.fit_transform(df.lang.values.astype('U'))

### TrueFalse Vector

In [3]:
df.loc[:,'flag1'] = 1
for i in df.index:    
    if df.loc[i,'default_profile'] :
        df.loc[i,'flag1'] = 1
    else:
        df.loc[i,'flag1'] = 0

In [4]:
df.loc[:,'flag2'] = 1
for i in df.index:    
    if df.loc[i,'has_extended_profile'] :
        df.loc[i,'flag2'] = 1
    else:
        df.loc[i,'flag2'] = 0

In [5]:
df.loc[:,'flag3'] = 1
for i in df.index:    
    if df.loc[i,'default_profile_image'] :
        df.loc[i,'flag3'] = 1
    else:
        df.loc[i,'flag3'] = 0

In [6]:
df.loc[:,'flag4'] = 1
for i in df.index:    
    if df.loc[i,'verified'] :
        df.loc[i,'flag4'] = 1
    else:
        df.loc[i,'flag4'] = 0

### Binary Vector

In [7]:
df.loc[:,'flag5']=1
for i in df.index: 

    if type(df.loc[i,'location'])==type('str'):
        df.loc[i,'flag5']=1
        #print(df.location[i])
    else:
        df.loc[i,'flag5']=0

In [8]:
df.loc[:,'flag6']=1
for i in df.index: 

    if 't.co' in str(df.loc[i,'url']):
        df.loc[i,'flag6']=1
        #print(df.location[i])
    else:
        df.loc[i,'flag6']=0

### Special condition

In [9]:
# screen_name length
sname = np.array(df.screen_name)
g = lambda i: len(i)
gg = np.vectorize(g)
sname_length = gg(sname)
df.loc[:,'flag7'] = sname_length
df.loc[:,'flag7']

0       11
1       14
2       15
3       15
4       10
5        8
6       15
7        8
8       12
9        7
10       9
11       9
12      12
13      13
14      12
15      13
16      11
17       8
18       6
19      12
20       4
21      13
22      15
23      13
24      13
25      15
26      10
27      13
28      13
29       5
        ..
2188    12
2189    15
2190    11
2191    14
2192    11
2193     9
2194    15
2195    14
2196    15
2197    11
2198    13
2199    13
2200    14
2201    15
2202    10
2203    14
2204    11
2205    12
2206    12
2207    14
2208    15
2209    10
2210    13
2211    13
2212    14
2213    11
2214    10
2215    13
2216    15
2217     9
Name: flag7, dtype: int64

In [10]:
#status
df.loc[:,'flag8'] = 1
for i in df.index:    
    if type(df.loc[i,'status']) == type('str') :
        df.loc[i,'flag8'] = 1
    else:
        df.loc[i,'flag8'] = 0

### Number Vector

In [11]:
column_index = df.shape[1]
column_name = 'flag' + str(column_index)
df.loc[:,column_name]=10
df = df.sort_values('listedcount',na_position='first')
df.head(10)

i = len(df[column_name])
interval = i//10

for j in range(10):
    df.iloc[j*interval:(j+1)*interval,[column_index,]] = j
df.iloc[10*interval:i,[column_index,]] = 9
df[['index','listedcount',column_name]]

      index  listedcount  flag36
524     525            0       0
1270   1271            0       0
1268   1269            0       0
1267   1268            0       0
1792   1793            0       0
530     531            0       0
535     536            0       0
1266   1267            0       0
537     538            0       0
1263   1264            0       0
2091   2092            0       0
1262   1263            0       0
548     549            0       0
1261   1262            0       0
2090   2091            0       0
1786   1787            0       0
1271   1272            0       0
520     521            0       0
517     518            0       0
1637   1638            0       0
2106   2107            0       0
1284   1285            0       0
484     485            0       0
485     486            0       0
1809   1810            0       0
1282   1283            0       0
1808   1809            0       0
554     555            0       0
1804   1805            0       0
2102   2103            0       0
...     ...          ...     ...
54       55        47045       9
769     770        47916       9
158     159        48805       9
189     190        51999       9
983     984        52952       9
773     774        53689       9
197     198        54806       9
318     319        57712       9
872     873        58756       9
410     411        60770       9
238     239        65408       9
138     139        67872       9
951     952        69966       9
1081   1082        70293       9
92       93        75101       9
882     883        75998       9
1074   1075        80390       9
362     363        86687       9
20       21        87793       9
274     275        88700       9
29       30        90118       9
874     875       108858       9
566     567       122719       9
668     669       123552       9
499     500       127292       9
267     268       129870       9
792     793       133730       9
728     729       142388       9
196     197       188387       9
699     700       222645       9

[2218 rows x 3 columns]

In [12]:
column_index = df.shape[1]
column_name = 'flag' + str(column_index)
df.loc[:,column_name]=10
df = df.sort_values('followers_count',na_position='first')
df.head(10)

i = len(df[column_name])
interval = i//10

for j in range(10):
    df.iloc[j*interval:(j+1)*interval,[column_index,]] = j
df.iloc[10*interval:i,[column_index,]] = 9

In [13]:
column_index = df.shape[1]
column_name = 'flag' + str(column_index)
df.loc[:,column_name]=10
df = df.sort_values('friends_count',na_position='first')
df.head(10)

i = len(df[column_name])
interval = i//10

for j in range(10):
    df.iloc[j*interval:(j+1)*interval,[column_index,]] = j
df.iloc[10*interval:i,[column_index,]] = 9

In [14]:
column_index = df.shape[1]
column_name = 'flag' + str(column_index)
df.loc[:,column_name]=10
df = df.sort_values('favourites_count',na_position='first')
df.head(10)

i = len(df[column_name])
interval = i//10

for j in range(10):
    df.iloc[j*interval:(j+1)*interval,[column_index,]] = j
df.iloc[10*interval:i,[column_index,]] = 9

In [15]:
column_index = df.shape[1]
column_name = 'flag' + str(column_index)
df.loc[:,column_name]=10
df = df.sort_values('statuses_count',na_position='first')
df.head(10)

i = len(df[column_name])
interval = i//10

for j in range(10):
    df.iloc[j*interval:(j+1)*interval,[column_index,]] = j
df.iloc[10*interval:i,[column_index,]] = 9

In [16]:
df.head(10)

,index,id,id_str,screen_name,location,description,url,followers_count,friends_count,listedcount,...,flag4,flag5,flag6,flag7,flag8,flag36,flag37,flag38,flag39,flag40
1208,1209,8.410000e+17,8.410000e+17,SendNudes1099,NaN,NaN,NaN,2,31,0,...,0,0,0,13,0,1,0,3,4,0
1414,1415,7.940000e+17,7.940000e+17,JohnKorosec1,"Ohio, USA",NaN,NaN,6,198,0,...,0,1,0,12,0,1,0,5,4,0
1453,1454,8.410000e+17,8.410000e+17,N_ChuiYing,NaN,NaN,NaN,1,21,0,...,0,0,0,10,0,1,0,2,0,0
2182,2183,8.410000e+17,8.410000e+17,sabo_sabo21,NaN,NaN,NaN,2,24,0,...,0,0,0,11,0,1,0,2,0,0
1705,1706,8.410000e+17,8.410000e+17,SueCoyle14,"Arizona, USA","art, museum.",NaN,3,25,0,...,0,1,0,10,0,1,0,2,0,0
554,555,4.173635e+08,4.173635e+08,Shawndafut,NaN,Relationships and the Law of Attraction. Click...,http://t.co/OQkH7uhWe9,258,991,0,...,0,0,1,10,0,0,4,8,0,0
1397,1398,2.763655e+07,2.763655e+07,thomp27,NaN,Pretty girl from Denmark. Want to meet somebod...,NaN,69,3707,0,...,0,0,0,7,0,2,2,9,0,0
1417,1418,5.488054e+07,5.488054e+07,vipeeri,NaN,NaN,NaN,0,28,0,...,0,0,0,7,0,1,0,3,0,0
1172,1173,2.790222e+09,2.790222e+09,AnayaJarrett,NaN,NaN,NaN,3,21,0,...,0,0,0,12,0,1,0,2,0,0
1550,1551,3.235274e+09,3.235274e+09,FEveryStartup,NaN,NaN,NaN,8,1,1,...,0,0,0,13,0,2,1,1,0,0

### Combination

In [17]:
import scipy.sparse as sp
h = sp.hstack((des1,lang1))
print(h.shape)
print(des1.shape)

(2218, 7775)
(2218, 7755)

In [18]:
df = df.sort_values('index',na_position='first')
flag = np.matrix(df.loc[:,'flag1':column_name])
flag.shape

(2218, 13)

In [19]:
g = sp.hstack((h, flag))
print (g.shape)

(2218, 7788)

### Classification

In [28]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(g, df.bot, random_state=1)
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
nb = MultinomialNB()
nb.fit(X_train, y_train)
y_pred_class = nb.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred_class))

0.81981981982

In [23]:
metrics.confusion_matrix(y_test, y_pred_class)

array([[262,  16],
       [ 84, 193]])

In [46]:
from sklearn.model_selection import cross_val_predict
from sklearn.naive_bayes import MultinomialNB,BernoulliNB
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import cross_val_score
import numpy as np
train_list = g
target_list = df.bot
accuracy = cross_val_score(MultinomialNB(alpha=1,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='accuracy')
precision = cross_val_score(MultinomialNB(alpha=1,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='precision')
recall = cross_val_score(MultinomialNB(alpha=1,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='recall')
f1 = cross_val_score(MultinomialNB(alpha=1,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='f1')
roc_auc = cross_val_score(MultinomialNB(alpha=1,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='roc_auc')
print ("cmean accuracy = %6.4f"%np.mean(accuracy))
print ("mean precision = %6.4f"%np.mean(precision))
print ("mean recall = %6.4f"%np.mean(recall))
print ("mean f1 score = %6.4f"%np.mean(f1))
print ("mean AUC = %6.4f"%np.mean(roc_auc))

cmean accuracy = 0.8359
mean precision = 0.8782
mean recall = 0.7600
mean f1 score = 0.8140
mean AUC = 0.9275

### Parameter tuning

In [41]:
alpha_list = tuple([ x/100 for x in range (100) ])

In [42]:
from sklearn.model_selection import GridSearchCV
parameters = {'alpha': alpha_list}
MNB_clf = GridSearchCV(MultinomialNB(alpha=0.1,fit_prior=True, class_prior=[1050,1168]), parameters, n_jobs=-1)

In [43]:
MNB_clf = MNB_clf.fit(g,df.bot)
print (MNB_clf.best_score_)
for param_name in sorted(parameters.keys()):
    print("%s: %r" % (param_name, MNB_clf.best_params_[param_name]))

0.848061316501
alpha: 0.19

In [47]:
from sklearn.model_selection import cross_val_predict
from sklearn.naive_bayes import MultinomialNB,BernoulliNB
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import cross_val_score
import numpy as np
train_list = g
target_list = df.bot
accuracy = cross_val_score(MultinomialNB(alpha=0.19,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='accuracy')
precision = cross_val_score(MultinomialNB(alpha=0.19,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='precision')
recall = cross_val_score(MultinomialNB(alpha=0.19,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='recall')
f1 = cross_val_score(MultinomialNB(alpha=0.19,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='f1')
roc_auc = cross_val_score(MultinomialNB(alpha=0.19,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='roc_auc')
print ("cmean accuracy = %6.4f"%np.mean(accuracy))
print ("mean precision = %6.4f"%np.mean(precision))
print ("mean recall = %6.4f"%np.mean(recall))
print ("mean f1 score = %6.4f"%np.mean(f1))
print ("mean AUC = %6.4f"%np.mean(roc_auc))

cmean accuracy = 0.8453
mean precision = 0.8600
mean recall = 0.8057
mean f1 score = 0.8314
mean AUC = 0.9220

### BackUp

### Only TrueOrFalse

In [48]:
df = df.sort_values('index',na_position='first')
flag = np.matrix(df.loc[:,'flag1':'flag4'])
flag.shape

(2218, 4)

In [49]:
train_list = flag
target_list = df.bot
accuracy = cross_val_score(MultinomialNB(alpha=0.19,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='accuracy')
precision = cross_val_score(MultinomialNB(alpha=0.19,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='precision')
recall = cross_val_score(MultinomialNB(alpha=0.19,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='recall')
f1 = cross_val_score(MultinomialNB(alpha=0.19,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='f1')
roc_auc = cross_val_score(MultinomialNB(alpha=0.19,fit_prior=True, class_prior=[1050,1168]), train_list, target_list, cv=10, scoring='roc_auc')
print ("cmean accuracy = %6.4f"%np.mean(accuracy))
print ("mean precision = %6.4f"%np.mean(precision))
print ("mean recall = %6.4f"%np.mean(recall))
print ("mean f1 score = %6.4f"%np.mean(f1))
print ("mean AUC = %6.4f"%np.mean(roc_auc))

cmean accuracy = 0.7385
mean precision = 0.6522
mean recall = 0.9676
mean f1 score = 0.7787
mean AUC = 0.8156

In [32]:
x1 = df.followers_count.tolist()
x2 = [x1]
x2 = np.matrix(x2).transpose()
print(x2)
xx = X_train_counts
print (type(x1))
print (type(x2))
print (type(xx))
#np.concatenate((xx,x1),axis = 1)
import scipy.sparse as sp
h = sp.hstack((xx, x2))
h.shape
print(type(df.followers_count.values))
print(type(df.followers_count.values))

[[85681083]
 [34363304]
 [96321564]
 ...,
 [       4]
 [      23]
 [     101]]

NameError: name 'X_train_counts' is not defined

In [74]:
np.random.randint(2, size=(6, 100))

array([[0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
        0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
        0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1,
        0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
        0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0],
       [1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
        1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
        1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1,
        1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0,
        1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0],
       [1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
        1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
        1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
        1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0],
       [1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1,
        1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0,
        1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
        1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
        0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1],
       [1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0,
        1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1,
        1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
        1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0],
       [0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1,
        1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1,
        1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0,
        1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1,
        0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1]])

In [75]:
s= '"abc"'

In [77]:
s.strip('"')

'abc'