In [6]:
import pandas as pd
import numpy as np
# df = pd.read_csv('training_set_1_filter.csv',encoding = "ISO-8859-1")
df = pd.read_csv('training_data_2_csv_UTF.csv',encoding = "UTF").dropna(how='all')

In [7]:
df.loc[:,'flag1'] = 1
for i in df.index:
#     print (i)
    if df.loc[i,'default_profile'] :
#         print (df.loc[i,'default_profile'])
        df.loc[i,'flag1'] = 1
    else:
        df.loc[i,'flag1'] = 0

In [8]:
df.loc[:,'flag2'] = 1
for i in df.index:    
    if df.loc[i,'default_profile_image'] :
        df.loc[i,'flag2'] = 1
    else:
        df.loc[i,'flag2'] = 0

In [9]:
df.loc[:,'flag3'] = 1
for i in df.index:    
    if df.loc[i,'has_extended_profile'] :
        df.loc[i,'flag3'] = 1
    else:
        df.loc[i,'flag3'] = 0

In [10]:
df.loc[:,'flag4'] = 1
for i in df.index:    
    if df.loc[i,'verified'] :
        df.loc[i,'flag4'] = 1
    else:
        df.loc[i,'flag4'] = 0

In [11]:
# Whether 'bot' is in location
df.loc[:,'flag5']=1
for i in df.index: 
    if "bot" in str(df.loc[i,'location']):
        df.loc[i,'flag5'] = 1
    else:
        df.loc[i,'flag5']=0

In [12]:
#status
df.loc[:,'flag8'] = 1
for i in df.index:    
    if type(df.loc[i,'status']) == type('str') :
        if df.loc[i,'status']== 'null' or df.loc[i,'status']== 'None':
            df.loc[i,'flag8'] = 0
        elif df.loc[i,'status']=='{':
            df.loc[i,'flag8'] = 0
        else:
            df.loc[i,'flag8'] = 1
    else:
        df.loc[i,'flag8'] = 0

In [13]:
# id
df['flag9'] = df[df.columns[0]].astype(np.int64)

In [14]:
# description
df.loc[:,'flag10'] = 1
for i in df.index:    
    if type(df.loc[i,'description']) == type('str') :
        if df.loc[i,'description']== 'null' or df.loc[i,'description']== 'None':
#             print(df.loc[i,'description'])
            df.loc[i,'flag10'] = 1
        elif "bot" in str(df.loc[i,'description']):
#             print (df.loc[i,'description'])
            df.loc[i,'flag10'] = 1
        else:
            df.loc[i,'flag10'] = 0
    else:
        df.loc[i,'flag10'] = 0

In [15]:
#bot in screen_name
df.loc[:,'flag11']=1
for i in df.index: 
    if (str(df.loc[i,'screen_name'][-3:])=='bot') or (str(df.loc[i,'screen_name'][-3:])=='Bot') or (str(df.loc[i,'screen_name'][0:3]))=='bot'or (str(df.loc[i,'screen_name'][0:3]))=='Bot':
        df.loc[i,'flag11'] = 1
    else:
        df.loc[i,'flag11'] = 0

In [16]:
#status or not
df.loc[:,'flag12'] = 1
for i in df.index:    
    if "entities" in str(df.loc[i,'status']) :
        df.loc[i,'flag12'] = 0

In [17]:
# create_at 
df.loc[:,'flag13']= 0
for i in df.index: 
    if "2011" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 1
#         print(df.loc[i,'created_at'])    
    elif "2012" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 2
#         print(df.loc[i,'created_at'])    
    elif "2013" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 3
#         print(df.loc[i,'created_at'])    
    elif "2014" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 4
#         print(df.loc[i,'created_at'])    
    elif "2015" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 5
#         print(df.loc[i,'created_at'])
    elif "2016" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 6
#         print(df.loc[i,'created_at'])
    elif "2017" in str(df.loc[i,'created_at']):
        df.loc[i,'flag13'] = 7
    else:
        df.loc[i,'flag13']=0

In [18]:
# yearly tweets
df.loc[:,'flag6']= 0
for i in df.index: 
    df.loc[:,'flag6'] = df.loc[:,'friends_count']*(8-df.loc[:,'flag13'])

In [19]:
# flag7
df.loc[:,'flag7']= 0
for i in df.index: 
    df.loc[:,'flag7'] = df.loc[:,'followers_count']*(8-df.loc[:,'flag13'])

In [20]:
# flag7
df.loc[:,'flag14']= 0
for i in df.index: 
    df.loc[:,'flag14'] = df.loc[:,'statuses_count']*(8-df.loc[:,'flag13'])

In [21]:
#bot in name
df.loc[:,'flag15']=1
for i in df.index: 
    if (str(df.loc[i,'name'][-3:])=='bot') or (str(df.loc[i,'name'][-3:])=='Bot') or (str(df.loc[i,'name'][0:3]))=='bot'or (str(df.loc[i,'name'][0:3]))=='Bot':
        df.loc[i,'flag15'] = 1
    else:
        df.loc[i,'flag15'] = 0

In [22]:
fg3 = df.loc[:,['flag15','flag14','flag13','flag12','flag11','flag10','flag8','flag5','flag4','flag3','flag2','flag1',
                          'friends_count','followers_count',]]
# 'flag4','flag3','flag2','flag1','flag6','flag7',

In [23]:
fg3.head(10)

,flag15,flag14,flag13,flag12,flag11,flag10,flag8,flag5,flag4,flag3,flag2,flag1,friends_count,followers_count
0,0,78554,7,0,0,0,1,0,0,0,0,1,0,1291
1,0,62,6,1,0,0,0,0,0,0,0,1,349,1
2,1,2139,5,0,1,1,1,0,0,0,0,1,0,1086
3,0,2028,5,1,0,0,1,0,0,0,1,1,0,33
4,0,555,5,1,0,0,0,0,0,0,0,0,745,11
5,0,11,7,0,0,0,1,0,0,1,0,1,186,1
6,0,24272,4,0,0,1,1,0,0,0,0,0,0,193
7,0,7791,5,0,0,0,1,0,0,0,0,1,2,8227
8,0,29766,5,1,0,1,1,0,0,0,0,0,0,275
9,0,7545,5,1,0,0,1,0,0,0,0,1,3,51

In [24]:
X = fg3
#Y = df.is_bot
Y = df.bot
y = Y
train_list = X
target_list = Y

In [25]:
from sklearn.model_selection import cross_val_score
from sklearn.datasets import make_blobs
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier
# X, y = make_blobs(n_samples=10000, n_features=10, centers=100,
#     random_state=0)
clf = DecisionTreeClassifier(max_depth=None, min_samples_split=2,
    random_state=0)
scores = cross_val_score(clf, X, y)
print(scores.mean())


clf = RandomForestClassifier(n_estimators=2000, max_depth=None,
     random_state=0,n_jobs=4)
# clf = RandomForestClassifier(n_jobs=2)
scores = cross_val_score(clf, X, y)
print(scores.mean())

0.877728020584
0.907399485101

In [26]:
clf = RandomForestClassifier(n_estimators=1000, max_depth=None,
     random_state=0)
clf.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=1000, n_jobs=1, oob_score=False, random_state=0,
            verbose=0, warm_start=False)

In [27]:
pd.DataFrame(df).to_csv('training_flag.csv',sep=',',index=False)

# Result

In [28]:
df_test = pd.read_csv('test_data_4_students.csv',encoding = "ISO-8859-1").dropna(how='all')

In [29]:
df_test['friends_count'] = pd.to_numeric(df_test['friends_count'],errors='coerce')

df_test['friends_count'] = df_test['friends_count'].fillna(df_test['friends_count'].median())

df_test['followers_count'] = pd.to_numeric(df_test['followers_count'],errors='coerce')

df_test['followers_count'] = df_test['followers_count'].fillna(df_test['followers_count'].median())

# df_test['favorites_count'] = pd.to_numeric(df_test['favorites_count'],errors='coerce')

# df_test['favorites_count'] = df_test['favorites_count'].fillna(df_test['favorites_count'].median())

# df_test['listed_count'] = pd.to_numeric(df_test['listed_count'],errors='coerce')

# df_test['listed_count'] = df_test['listed_count'].fillna(df_test['listed_count'].median())

In [30]:
df2 = df_test

In [31]:

for i in df2.index:    
    if df2.loc[i,'default_profile'] =='None':
         df2.loc[i,'flag1'] = -1
    elif df2.loc[i,'default_profile']=='TRUE':
        df2.loc[i,'flag1'] = 1
    elif df2.loc[i,'default_profile']=='FALSE':
        df2.loc[i,'flag1'] = 0
    else:
        print("error")

In [32]:

for i in df2.index:    
    if df2.loc[i,'default_profile_image'] =='None':
         df2.loc[i,'flag2'] = -1
    elif df2.loc[i,'default_profile_image']=='TRUE':
        df2.loc[i,'flag2'] = 1
    elif df2.loc[i,'default_profile_image']=='FALSE':
        df2.loc[i,'flag2'] = 0
    else:
        print("error")

In [33]:

for i in df2.index:    
    if df2.loc[i,'has_extended_profile'] =='None':
         df2.loc[i,'flag3'] = -1
    elif df2.loc[i,'has_extended_profile']=='TRUE':
        df2.loc[i,'flag3'] = 1
    elif df2.loc[i,'has_extended_profile']=='FALSE':
        df2.loc[i,'flag3'] = 0
    else:
        print("error")

In [34]:

for i in df2.index:    
    if df2.loc[i,'verified'] =='None':
         df2.loc[i,'flag4'] = -1
    elif df2.loc[i,'verified']=='TRUE':
        df2.loc[i,'flag4'] = 1
    elif df2.loc[i,'verified']=='FALSE':
        df2.loc[i,'flag4'] = 0
    else:
        print("error")

In [35]:
# Whether 'bot' is in location
df2.loc[:,'flag5']=1
for i in df2.index: 
    if "bot" in str(df.loc[i,'location']):
        df.loc[i,'flag5'] = 1
    else:
        df.loc[i,'flag5']=0

In [36]:
#status
df2.loc[:,'flag8'] = 1
for i in df2.index:    
    if type(df2.loc[i,'status']) == type('str') :
        if df2.loc[i,'status']== 'null' or df2.loc[i,'status']== 'None':
            df2.loc[i,'flag8'] = 0
        elif df2.loc[i,'status']=='{':
            df2.loc[i,'flag8'] = 0
        else:
            df2.loc[i,'flag8'] = 1
    else:
        df2.loc[i,'flag8'] = 0

In [37]:
# description
df2.loc[:,'flag10'] = 1
for i in df2.index:    
    if type(df2.loc[i,'description']) == type('str') :
        if df2.loc[i,'description']== 'null' or df2.loc[i,'description']== 'None':
#             print(df2.loc[i,'description'])
            df2.loc[i,'flag10'] = 1
        elif "bot" in str(df2.loc[i,'description']):
#             print (df2.loc[i,'description'])
            df2.loc[i,'flag10'] = 1
        else:
            df2.loc[i,'flag10'] = 0
    else:
        df2.loc[i,'flag10'] = 0

In [38]:
#bot in screen_name
df2.loc[:,'flag11']=1
for i in df2.index: 
    if (str(df.loc[i,'screen_name'][-3:])=='bot') or (str(df.loc[i,'screen_name'][-3:])=='Bot') or (str(df.loc[i,'screen_name'][0:3]))=='bot'or (str(df.loc[i,'screen_name'][0:3]))=='Bot':
        df2.loc[i,'flag11'] = 1
    else:
        df2.loc[i,'flag11'] = 0

In [39]:
#status or not
df2.loc[:,'flag12'] = 1
for i in df2.index:    
    if "entities" in str(df2.loc[i,'status']) :
        df2.loc[i,'flag12'] = 0

In [40]:
# create_at 
df2.loc[:,'flag13']= 0
for i in df2.index: 
    if "2011" in str(df2.loc[i,'created_at']):
        df2.loc[i,'flag13'] = 1
#         print(df.loc[i,'created_at'])    
    elif "2012" in str(df2.loc[i,'created_at']):
        df2.loc[i,'flag13'] = 2
#         print(df.loc[i,'created_at'])    
    elif "2013" in str(df2.loc[i,'created_at']):
        df2.loc[i,'flag13'] = 3
#         print(df.loc[i,'created_at'])    
    elif "2014" in str(df2.loc[i,'created_at']):
        df2.loc[i,'flag13'] = 4
#         print(df.loc[i,'created_at'])    
    elif "2015" in str(df2.loc[i,'created_at']):
        df2.loc[i,'flag13'] = 5
#         print(df.loc[i,'created_at'])
    elif "2016" in str(df2.loc[i,'created_at']):
        df2.loc[i,'flag13'] = 6
#         print(df.loc[i,'created_at'])
    elif "2017" in str(df2.loc[i,'created_at']):
        df2.loc[i,'flag13'] = 7
    else:
        df2.loc[i,'flag13']=0

In [41]:
# yearly tweets
df2.loc[:,'flag14']= 0
for i in df2.index: 
    df2.loc[:,'flag14'] = df2.loc[:,'statuses_count']*(8-df2.loc[:,'flag13'])

In [42]:
#bot in screen_name
df2.loc[:,'flag15']=1
for i in df2.index: 
    if (str(df2.loc[i,'name'][-3:])=='bot') or (str(df2.loc[i,'name'][-3:])=='Bot') or (str(df2.loc[i,'name'][0:3]))=='bot'or (str(df2.loc[i,'name'][0:3]))=='Bot':
        df2.loc[i,'flag15'] = 1
    else:
        df2.loc[i,'flag15'] = 0

In [43]:
res4 = df2.loc[:,['flag15','flag14','flag13','flag12','flag11','flag10','flag8','flag5','flag4','flag3','flag2','flag1',
                          'friends_count','followers_count',]]
# 'flag4','flag3','flag2','flag1','flag6','flag7',

In [44]:
res4.head(10)

,flag15,flag14,flag13,flag12,flag11,flag10,flag8,flag5,flag4,flag3,flag2,flag1,friends_count,followers_count
0,0,12144.0,4,0,0,0,1,1,1.0,0.0,0.0,0.0,1295.0,4466.0
1,0,2472.0,4,0,0,0,1,1,0.0,0.0,0.0,0.0,1016.0,295.0
2,0,19974.0,2,0,1,0,1,1,1.0,1.0,0.0,1.0,3017.0,1001678.0
3,0,92.0,6,0,0,0,1,1,0.0,1.0,0.0,0.0,487.0,445.0
4,1,3451795.0,3,1,0,1,1,1,-1.0,-1.0,-1.0,-1.0,68.0,187.0
5,0,80668.0,4,1,0,1,1,1,-1.0,-1.0,-1.0,1.0,87.0,80.0
6,0,6777274.0,1,1,0,1,1,1,-1.0,-1.0,-1.0,1.0,1978.0,2020.0
7,1,460410.0,2,1,0,1,1,1,-1.0,-1.0,-1.0,1.0,80.0,70.0
8,0,1960.0,7,1,0,1,1,1,-1.0,-1.0,-1.0,1.0,144.0,181.0
9,0,3744.0,0,1,0,0,1,1,1.0,-1.0,-1.0,-1.0,9.0,20419393.0

In [45]:
X=res4
result=pd.DataFrame(df2[df2.columns[0]])
result.insert(1,'bot',0)
rfresult=clf.predict(X)
result['bot']=rfresult
result=result.astype(int)
#result['screen_name'] = df2.screen_name

In [50]:
result.columns = ['id', 'bot']

In [52]:
pd.DataFrame(result).to_csv('result_alvin_good.csv',sep=',',index=False,encoding="UTF")